<template name="ProductsTemplate">
	<section id="products">

		<ul id="productList">
			{{#each products}}
			<li class="ball">
				<a href="{{pathFor 'product.show'}}">
					<img src="/img/{{image}}">
					<p class="name">{{name}}</p>
					<p class="price">R${{formatPrice price}}</p>
				</a>

				{{#if canRemoveProduct this}}
				<a href="#" class="remove ion ion-ios-trash"></a>
				{{/if}}
			</li>
			{{/each}}
		</ul>

		<a href="{{pathFor 'product.new'}}" class="button button-full button-balanced">Novo Produto</a>
	</section>
</template>