<template name="ProductsTemplate">
	<section id="products">
		<a href="{{pathFor 'product.new'}}">Novo</a>

		<ul id="productList">
			{{#each products}}
				<li>
					<div class="list card">

					  <div class="item item-avatar">
					    <img src="avatar.jpg">
					    <h2>Pretty Hate Machine</h2>
					    <p>Nine Inch Nails</p>
					  </div>

					  <div class="item item-image">
					    <img src="cover.jpg">
					  </div>

					  <a class="item item-icon-left assertive" href="#">
					    <i class="icon ion-music-note"></i>
					    <span>R${{formatPrice price}}</span>
					  </a>

					</div>
					<a href="{{pathFor 'product.show'}}">{{name}} ({{price}})</a>
					{{#if canRemoveProduct this}}
						(<a href="#" class="remove">remove</a>)
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</section>
</template>