<template name="CooperativeTemplate">
	<section id="product">
		<div class="list card">
			<div class="item item-avatar">
				<img src="{{cooperativeImage image}}">
				<h2>{{name}}</h2>
			</div>

			<div class="item item-body">
				<img class="full-image" src="{{fruitImage image}}">
				<p>{{description}}</p>
				<p>
					{{#if isHot}}
					<i class="icon ion-fireball inFlames"></i>
					{{/if}}
					<span class="subdued">{{purchasedCount}} pessoas já compraram</span>
				</p>
			</div>
		</div>

		<div class="bar bar-footer bar-balanced">
			<a href="{{pathFor 'product.buy'}}" class="title">
				<span>Comprar por R${{formatPrice price}}</span>
			</a>
		</div>
	</section>
</template>