<template name="ProductsTemplate">
	<section id="products">
		<ul id="productList">
			{{#each products}}
			<li class="ball">
				<a href="{{pathFor 'product.show'}}">
					<img src="{{fruitImage image}}">
					<p class="name">{{name}}</p>
					<p class="price">R${{formatPrice price}}</p>
				</a>

				{{#if canRemoveProduct this}}
				<a href="#" class="remove ion ion-ios-trash"></a>
				{{/if}}
			</li>
			{{/each}}
		</ul>
		
		<div class="bar bar-footer bar-balanced">
			<a href="{{pathFor 'product.new'}}" class="title">
				<i class="icon ion-plus-round"></i>
				<span>Novo Produto</span>
			</a>
		</div>
	</section>
</template>