<template name="NewProductTemplate">
	<section id="newproduct">
		<form>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
			    <input type="text" name="name" placeholder="Nome do produto">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Preço</span>
			    <input type="text" name="price" placeholder="R$ 0,00">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Descrição</span>
			    <textarea class="description" name="description" placeholder="Descrição completa"></textarea>
		  	</label>

				<button type="submit" class="bar bar-footer bar-balanced">
				  <div class="title">
							<i class="icon ion-checkmark-round"></i>
				  		Cadastrar Produto
				  </div>
				</button>
		</form>
	</section>
</template>