<template name="ProductTemplate">
	<section id="product">
		<div class="list card">

		  <div class="item item-avatar">
		    <img src="/img/{{image}}">
		    <h2>{{name}}</h2>
		    <p>{{farmerName}}</p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="/img/{{image}}">
		    <p>{{description}}</p>
		    <p>
		      <a href="#" class="subdued">50 compras</a>
		    </p>
		  </div>

		  <div class="item">
		    <a class="item item-icon-left assertive" href="{{pathFor 'product.buy'}}">
				<i class="icon ion-social-usd"></i>
				<span>Comprar</span>
			</a>
		  </div>

		</div>
	</section>
</template>