@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

html, body {
	overflow: visible !important;
}

body {
	font-family: 'Roboto', sans-serif;
}

#main {
	padding: 40px 0;
}

#productList .list {
	overflow: visible;
	position: relative;
}

#productList .remove {
	position: absolute;
	top: -8px;
	right: -8px;
	font-size: 200%;
	z-index: 10;
	color: #333;
}

#newproduct .description {
	min-height: 200px;
}
