@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

body {
	font-family: 'Roboto', sans-serif;
}

#main-menu {
	background-color: #1abc9c;
	border: none;
	border: aa;
}

#main-menu .navbar-brand {
	color: #fff;
}

#main-menu .nav > li > a {
	color: #fff;
}