@import 'ionic';
@import 'pages/landing';

html, body {
	overflow: visible !important;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #F5F5F5;
}

a {
	text-decoration: none;
}

#app-header > .bar {
	background: #e5104d;
	border-color: #ca0a41;
}

#main {
	padding: 60px 0;
}

#product .inFlames {
	color: #e5104d;
	font-size: 120%;
}

#productList .ball {
	overflow: visible;
	position: relative;
	text-align: center;
	display: inline-block;
	width: 32%;
}

#productList .ball a {
	text-decoration: none;
}

#productList .ball img {
	width: 80%;
	border-radius: 100px;
	overflow: hidden;
	padding-top: 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

#productList .ball p {
	margin: 5px 0;
}

#productList .ball .name {
	font-size: 120%;
	font-weight: bold;
	color: #333;
}

#productList .ball .price {
	font-size: 80%;
	color: #666;
}

#productList .remove {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 200%;
	z-index: 10;
	padding: 4px 8px;
	color: #333;
	border-radius: 14px;
	border: 1px solid #ddd;
	cursor: pointer;
	background-color: white;
}

#newproduct form {
	background-color: white;
}

#newproduct .description {
	min-height: 200px;
}

#payment form {
	background-color: white;
}
